<div>
  <form action="/favourites" method="POST">
              <button type="submit" class="bg-green-300 hover:bg-green-400 p-2">Add to Favourites</button>
              <input type="hidden" name="id" value="<%= home._id %>">
            </form>
</div>